/* Admin.css */
.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-container {
  display: flex;
  flex-grow: 1;
  /* height: 92vh; */
}
.sidebar {
  width: 250px;
  min-height: 100vh;
  background: linear-gradient(45deg, #174562, #170946, #0b8792); /* Subtle gradient effect */
  padding: 20px;
  padding-top: 3rem;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}

.sidebar ul li a.active-link {
  background-color: #bdd7dc;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.content-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.admin-layout .navbar {
  width: 100%;
  position: relative;
  z-index: 10;
}

.content-container {
  flex-grow: 1;
  background-color: #f8f9fa;
  padding: 30px;
}

.admin-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #343a40;
}

/* Table Styling */
.admin-table-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.table {
  margin: 20px 0;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.admin-edit-form {
  background: white;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}